<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOFg_NRgFFViPD6z9f2BeF5G_7Vj-E0yc</string>
	<key>GCM_SENDER_ID</key>
	<string>1023345209468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.drAshrafClinic</string>
	<key>PROJECT_ID</key>
	<string>ashrafyehiaclinic</string>
	<key>STORAGE_BUCKET</key>
	<string>ashrafyehiaclinic.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023345209468:ios:8a5ea496b7d8fd67c6d9f9</string>
	<key>DATABASE_URL</key>
	<string>https://ashrafyehiaclinic-default-rtdb.firebaseio.com</string>
</dict>
</plist>